.message-section{
    background-color: black;
    margin-top: 80px ;
    color: #fff;
    margin-bottom: -16px;
}
.Minister h2{
    padding-top: 50px;
    padding-bottom: 20px;
}
.Chairman{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.Chairman h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Chief h2{
    padding-top: 50px;
    padding-bottom: 20px;
}
.Director{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.Director h2{
    padding-top: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width: 450px) {
    .message-section img{
        width: 100%;
    }
}