.logistic-section {
    background-color: black;
    margin-top: 80px;
    color: #cfcccc;
    margin-bottom: -16px;
}

.how-to-reach {
    padding-top: 50px;
    padding-bottom: 50px;
}

.reach {
    margin-left: 15px;
    padding: 15px;
}

.card-layout {
    background-color: #f6f7f9;
    border-radius: 15px;
    color: #4f4f4f;
    padding: 10px;
    height: 100%;
}

.card-layout ul li {
    color: #4f4f4f;
    font-size: 15px;
}

.hotels {
    background-color:  #151631;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.hotels span {
    display: flex;
    /* flex-direction: row; */
}

.hotels span h6 {
    margin-right: 10px;
}