.about_us-p{
    padding-top: 150px;
}
/* .about_us-p p{
    color: black;
} */
.Enquiry .c-form{
    color: #3c5366 ;
}
.contact-brand p{
color: #000000;
}
.contact-section{
    background-color: black;
    margin-top: 80px;
    color: #cfcccc;
    margin-bottom: -16px;
    height: 78vh;
}
.contact-details{
    padding-top: 50px;
    padding-bottom: 50px;
}