.outreach-section{
    background-color: black;
    margin-top: 80px;
    color: #cfcccc;
    margin-bottom: -16px;
}
.social-media{
    padding-top: 50px;
    padding-bottom: 50px;
}
.react-multi-carousel-track li{
    padding-left: 2px;
}
/* @media screen and (max-width: 450px) {
    .react-multi-carousel-track li{
        padding: 0;
    }
} */